<article class="product-item">
    <div class="product-image">
        <img src="<%= product.imageUrl %>" class="" alt="<%= product.imageName %>">
    </div>

    <div class="product-text">
        <h2> <%= product.title %> </h2>
        <div class="product-btn">
        <a href="/admin/products/<%=product.id%>" class="btn btn-warning btn-sm" >View & Edit</a>
        <button class="btn btn-danger btn-sm" data-productid="<%=product.id%>" data-csrf="<%= locals.csrfToken %>" >Delete</button>
        </div>
        
    </div>
</article>