<%- include('../../shared/includes/head',{pageTitle:'Product Details'}) %>
<link rel="stylesheet" href="/styles/product.css">
<script src="/scripts/cart-management.js" defer></script>

</head>
    <body>
        <%- include('../../shared/includes/header') %>
        <main id="product-details">
            <header>
                <img src=" <%= product.imageUrl %>" alt="<%= product.title  %>">
                <div id="product-info">
                    <h1> <%= product.title  %> </h1>
                    <p>$<%= product.price  %></p>
                    <button class="btn btn-warning btn-sm" data-productID="<%=product.id%>" data-csrftoken="<%= locals.csrfToken %>">Add to cart</button>
                </div>
            </header>
            <p id="product-description"><%= product.description  %></p>
        </main>
    </body>
<%- include('../../shared/includes/footer') %>

