<%- include('../../shared/includes/head',{pageTitle: 'Your Cart'}) %>
<link rel="stylesheet" href="/styles/cart.css">
<script src="/scripts/cart-item-management.js" defer></script>

</head>
    <body>
        <%- include('../../shared/includes/header') %>
        <main>
            <h1> Your Cart</h1>
            <ul id="cart-items">
                <% for (const cartItem of locals.cart.items){ %>
                    <li>
                        <%- include('includes/cart-item',{item:cartItem}) %>
                    </li>
                <% }%>
            </ul>

            <div id="cart-total">
                <p>Total: $<span class="cart-total-price"><%= locals.cart.totalPrice.toFixed(2) %></span></p>
                <% if (!locals.isAuth){  %>
                    <a href="/login"><p id="login-first">Please log in to purchase the products </p></a>
                    <%}%>

                <% if (locals.isAuth && locals.cart.totalQuantity>0){  %>
                    <form action="/orders" method="POST">
                        <input type="hidden" name="_csrf" value="<%= locals.csrfToken %>">
                        <button class="btn btn-warning btn-sm">Buy Products</button>
                    </form>
                <% } else{%>
                     <p id="login-first"> Please add item in to cart. </p>
                    <%}%>
            </div>
        </main>
    </body>
<%- include('../../shared/includes/footer') %>

